[Unit]
Description=My Service
After=network.target

[Service]
ExecStart=/bin/bash /Desktop/kragg/kragg/innit.sh

[Install]
WantedBy=multi-user.target
